<template>
<layout>
    <div style="margin: 0 auto; max-width: 900px;">
    <h1>
        {{$page.post.title}}
    </h1>
   <strong>Author: </strong> <span>{{$page.post.Author}}</span>
   <br>
   <strong>Date: </strong> <span>{{$page.post.created_at}}</span>
<div>
<VueRemarkContent> 
 <template v-slot:ad>
     <Ad />

 </template>


</VueRemarkContent>
</div>
</div>
</layout>
</template>
<page-query>
query Post($id: ID!) {
    post (id: $id) {
        title
        Author
        created_at (format: "MMMM Do, YYYY")
    }
}
</page-query>

<script>
import Ad from '../components/Ad'
export default {
    components: {
        Ad
    }
}
</script>
<style lang="stylus">

</style>