<template>
<div>
    <div :style="`border: 2px solid ${color}; float: left; width: 70%; padding: 3px;`">
    <slot />
    </div>

    <div style="float: right; width: 28%; border: 1px solid red">
    <h1>Ad 1</h1>
    <h1>Ad 2</h1>
    <h1>Ad 3</h1>
    </div>
    </div>
</template>
<script>
export default {
    props: {
        color: {
            required: false,
            default: "blue",
        }
    }
}
</script>